<!DOCTYPE html>

<html>
  <head>
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body class="smith">
<div style="color:#BBBBBB">
    <h2>Welcome</h2>
<!--	<p>you have been here {{visits}} times, impressive!</p>-->
    <p>you may be looking for the truth. You won't find it here.</p>
    <p>(<a href="http://zombo.com" title="The Truth">there</a>, maybe)</p>
    <br>
    <div style="padding: 30px 30px 30px 200px ">
    <p><a href="/anamnesis">Anamnesis</a></p>
    </div>
</div>
  </body>
</html>
